body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card {
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
  }
  
  input {
    text-transform: lowercase;
  }
  
  .correcto {
    color: green;
  }
  
  .incorrecto {
    color: red;
  }
  